{:blocks (
{:block/content "[[@Modeling soil-plant functioning of intercrops using comprehensive and generic formalisms implemented in the STICS model]]\nformalisms adapted to intercropping\nequations in supplementary materials\n2023"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f21db-3173-41e4-b012-28ea51f5c7e1"} 
{:block/created-at 1700742095626
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "655f21db-3173-41e4-b012-28ea51f5c7e1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 161]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "96975e90-89e6-11ee-872b-d9a3e7460fd3"
:noFill false
:point [168 240]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700733395992}}
:block/updated-at 1700742095626} 
{:block/content "formalisms adapted to intercropping"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2261-d37b-4599-bf43-969eff0c2eca"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2260-38a8-48f5-a4cd-08b5726c1769"} 
{:block/content "equations in supplementary materials"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2260-38a8-48f5-a4cd-08b5726c1769"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2260-f190-40c5-9f80-03c91593743e"} 
{:block/content "formalisms adapted to intercropping"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f21db-3173-41e4-b012-28ea51f5c7e1"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2261-0db7-4e77-99db-f44bc73b6412"} 
{:block/content "equations in supplementary materials"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2261-0db7-4e77-99db-f44bc73b6412"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2261-d37b-4599-bf43-969eff0c2eca"} 
{:block/content "STICS"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2260-f190-40c5-9f80-03c91593743e"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"} 
{:block/content "STICS"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2389-6b1c-4c05-b690-f0287e0eb7f0"} 
{:block/created-at 1700733863034
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "655f2389-6b1c-4c05-b690-f0287e0eb7f0"
:scaleLevel "xl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [144 82]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9a59a140-89e7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [296 112]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700733831673}}
:block/updated-at 1700733863034} 
{:block/content "Book of abstracts STICS\nmany use cases"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2389-6b1c-4c05-b690-f0287e0eb7f0"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f3db4-3dd5-4a60-94f7-cdec9e10d016"} 
{:block/created-at 1700742278772
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "655f3db4-3dd5-4a60-94f7-cdec9e10d016"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [224 65]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1cb86cc0-89f7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [688 248]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700740492789}}
:block/updated-at 1700742278772} 
{:block/content "Stics Soil Crop Model Book\neverything"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f3db4-3dd5-4a60-94f7-cdec9e10d016"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f3f07-809d-46aa-a672-f52828de200c"} 
{:block/created-at 1700742280974
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "655f3f07-809d-46aa-a672-f52828de200c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [256 65]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f5ec8530-89f7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [688 328]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700740857305}}
:block/updated-at 1700742280974} 
{:block/content "[[@Adaptation of the crop model STICS to intercropping. Theoretical basis and parameterisation]]\nformalisms adapted to intercropping\nequations\n2004"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f3f07-809d-46aa-a672-f52828de200c"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f4367-5c7b-4687-a978-1bbe019a0596"} 
{:block/created-at 1700742289414
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "655f4367-5c7b-4687-a978-1bbe019a0596"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 161]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9746e860-89fa-11ee-872b-d9a3e7460fd3"
:noFill false
:point [160 648]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700741987078}}
:block/updated-at 1700742289414} 
{:block/content "[[@Modelling intercrops functioning to advance the design of innovative agroecological systems]]\nformalisms adapted to intercropping \nequations\n2022"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f4367-5c7b-4687-a978-1bbe019a0596"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f443a-d4b4-41e5-9bfb-12acd38d3fce"} 
{:block/created-at 1700742276982
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "655f443a-d4b4-41e5-9bfb-12acd38d3fce"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 137]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "01443d30-89fb-11ee-872b-d9a3e7460fd3"
:noFill false
:point [160 416]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700742164744}}
:block/updated-at 1700742276982} 
{:block/content "[[@Effect of root depth penetration on soil nitrogen competitive interactions and dry matter production in pea–barley intercrops given different soil nitrogen supplies]]\ncompetition for N"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f443a-d4b4-41e5-9bfb-12acd38d3fce"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f4a60-8331-4a9b-8c4c-bf2acaa402fe"} 
{:block/created-at 1700743829899
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "655f4a60-8331-4a9b-8c4c-bf2acaa402fe"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 161]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b031db60-89fe-11ee-872b-d9a3e7460fd3"
:noFill false
:point [664 592]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700743746588}}
:block/updated-at 1700743829899})
:pages (
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "655f20cc-3a7c-4adb-b279-adbda5819200"
:name "mindmap articles"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("96975e90-89e6-11ee-872b-d9a3e7460fd3" "9a59a140-89e7-11ee-872b-d9a3e7460fd3" "1cb86cc0-89f7-11ee-872b-d9a3e7460fd3" "f5ec8530-89f7-11ee-872b-d9a3e7460fd3" "9746e860-89fa-11ee-872b-d9a3e7460fd3" "01443d30-89fb-11ee-872b-d9a3e7460fd3" "b031db60-89fe-11ee-872b-d9a3e7460fd3")}}
:block/journal? false
:block/updated-at 1700743829899
:block/created-at 1700733132770
:block/type "whiteboard"
:block/name "mindmap articles"
:block/original-name "mindmap articles"})}