{:blocks (
{:block/content "[[@Modeling soil-plant functioning of intercrops using comprehensive and generic formalisms implemented in the STICS model]]\nformalisms adapted to intercropping\nequations in supplementary materials\n2023"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f21db-3173-41e4-b012-28ea51f5c7e1"} 
{:block/created-at 1700757525169
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 0
:scale [1 1]
:pageId "655f21db-3173-41e4-b012-28ea51f5c7e1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [376 160.80006249964018]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "96975e90-89e6-11ee-872b-d9a3e7460fd3"
:noFill false
:point [-360 296]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700733396572}}
:block/updated-at 1700757525169} 
{:block/content "formalisms adapted to intercropping"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2261-d37b-4599-bf43-969eff0c2eca"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2260-38a8-48f5-a4cd-08b5726c1769"} 
{:block/content "equations in supplementary materials"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2260-38a8-48f5-a4cd-08b5726c1769"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2260-f190-40c5-9f80-03c91593743e"} 
{:block/content "formalisms adapted to intercropping"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f21db-3173-41e4-b012-28ea51f5c7e1"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2261-0db7-4e77-99db-f44bc73b6412"} 
{:block/content "equations in supplementary materials"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2261-0db7-4e77-99db-f44bc73b6412"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f2261-d37b-4599-bf43-969eff0c2eca"} 
{:block/content "STICS"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f2260-f190-40c5-9f80-03c91593743e"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"} 
{:block/content ".......................................................................  STICS _______________________________________________________________________"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"}
:block/parent 
{:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"}
:block/properties 
{}
:block/uuid #uuid "655f2389-6b1c-4c05-b690-f0287e0eb7f0"} 
{:block/created-at 1700757901129
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 1
:scale [1 1]
:pageId "655f2389-6b1c-4c05-b690-f0287e0eb7f0"
:scaleLevel "xl"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [1824 81.6000101813085]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9a59a140-89e7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [-352 112]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700733831865}}
:block/updated-at 1700757901129} 
{:block/content "Book of abstracts STICS\nmany use cases"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f22f9-1cb5-41dc-8759-ff36dd37bddd"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f3db4-3dd5-4a60-94f7-cdec9e10d016"} 
{:block/created-at 1700757532612
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 2
:scale [1 1]
:pageId "655f3db4-3dd5-4a60-94f7-cdec9e10d016"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [224 65]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "1cb86cc0-89f7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [368 200]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700740492895}}
:block/updated-at 1700757532612} 
{:block/content "Stics Soil Crop Model Book\neverything"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f3db4-3dd5-4a60-94f7-cdec9e10d016"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f3f07-809d-46aa-a672-f52828de200c"} 
{:block/created-at 1700757529371
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 3
:scale [1 1]
:pageId "655f3f07-809d-46aa-a672-f52828de200c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [256 65]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f5ec8530-89f7-11ee-872b-d9a3e7460fd3"
:noFill false
:point [96 200]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700740857441}}
:block/updated-at 1700757529371} 
{:block/content "[[@Adaptation of the crop model STICS to intercropping. Theoretical basis and parameterisation]]\nformalisms adapted to intercropping\nequations\n2004"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f3f07-809d-46aa-a672-f52828de200c"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f4367-5c7b-4687-a978-1bbe019a0596"} 
{:block/created-at 1700757517430
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 4
:scale [1 1]
:pageId "655f4367-5c7b-4687-a978-1bbe019a0596"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [304 160.80006249964018]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9746e860-89fa-11ee-872b-d9a3e7460fd3"
:noFill false
:point [-328 624]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700741987291}}
:block/updated-at 1700757517430} 
{:block/content "[[@Modelling intercrops functioning to advance the design of innovative agroecological systems]]\nformalisms adapted to intercropping \nequations\n2022"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f4367-5c7b-4687-a978-1bbe019a0596"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f443a-d4b4-41e5-9bfb-12acd38d3fce"} 
{:block/created-at 1700757520597
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 5
:scale [1 1]
:pageId "655f443a-d4b4-41e5-9bfb-12acd38d3fce"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 137]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "01443d30-89fb-11ee-872b-d9a3e7460fd3"
:noFill false
:point [-376 472]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700742164996}}
:block/updated-at 1700757520597} 
{:block/content "[[@Effect of root depth penetration on soil nitrogen competitive interactions and dry matter production in pea–barley intercrops given different soil nitrogen supplies]]\ncompetition for N in intercrops\nsimulations using STICS\ncalibration for ideomix pea/barley\n2007"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f443a-d4b4-41e5-9bfb-12acd38d3fce"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f4a60-8331-4a9b-8c4c-bf2acaa402fe"} 
{:block/created-at 1700757779837
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 6
:scale [1 1]
:pageId "655f4a60-8331-4a9b-8c4c-bf2acaa402fe"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "b031db60-89fe-11ee-872b-d9a3e7460fd3"
:noFill false
:point [648 664]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700743747240}}
:block/updated-at 1700757779837} 
{:block/content "[[@Adaptation of the STICS intercrop model to simulate crop growth and N accumulation in pea–barley intercrops]]\nlink crop growth and N2 fixation and N accum\nsimulations using STICS\ncalibration for ideomix pea/barley\n2009"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f4a60-8331-4a9b-8c4c-bf2acaa402fe"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f5037-1931-4603-8808-b1f60b1ac8a8"} 
{:block/created-at 1700757783216
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "655f5037-1931-4603-8808-b1f60b1ac8a8"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 185]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3957ff20-8a02-11ee-872b-d9a3e7460fd3"
:noFill false
:point [648 464]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700745265340}}
:block/updated-at 1700757783216} 
{:block/content "[[@Recent advances in intercropping modelling: the new version of the STICS soil-crop model simulates consistently a wide range of bi-specific annual intercrops.]]\nhistory of STICS-Intercrop\nabstract\n2021"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f5037-1931-4603-8808-b1f60b1ac8a8"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f56db-01c5-4b2e-9ae0-cf6633993b6d"} 
{:block/created-at 1700757851948
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 8
:scale [1 1]
:pageId "655f56db-01c5-4b2e-9ae0-cf6633993b6d"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 185]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2c0fe4a0-8a06-11ee-872b-d9a3e7460fd3"
:noFill false
:point [136 344]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700746961118}}
:block/updated-at 1700757851948} 
{:block/content "[[@The first calibration and evaluation of the STICS soil-crop model on chickpea-based intercropping system under Mediterranean conditions]]\nsimulations using STICS\ncalibration for ideomix chickpea/durum wheat\nmanagement optimization\n2022"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f56db-01c5-4b2e-9ae0-cf6633993b6d"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f57ca-fb84-4089-90c6-1f20dbb422ff"} 
{:block/created-at 1700757799760
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 9
:scale [1 1]
:pageId "655f57ca-fb84-4089-90c6-1f20dbb422ff"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 209]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "bdb35ef0-8a06-11ee-872b-d9a3e7460fd3"
:noFill false
:point [1080 696]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700747205363}}
:block/updated-at 1700757799760} 
{:block/content "[[@Exploring options for managing strategies for pea–barley intercropping using a modeling approach]]\nsimulations using STICS\nevaluate overyield ideomix pea/barley\nmanagement optimization\n2009"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f57ca-fb84-4089-90c6-1f20dbb422ff"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f58a2-7399-4785-862e-8b597f45ed7c"} 
{:block/created-at 1700757786950
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 10
:scale [1 1]
:pageId "655f58a2-7399-4785-862e-8b597f45ed7c"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 185]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3844a110-8a07-11ee-872b-d9a3e7460fd3"
:noFill false
:point [648 264]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700747410985}}
:block/updated-at 1700757786950} 
{:block/content "[[@A modelling chain combining soft and hard models to assess a bundle of ecosystem services provided by a diversity of cereal-legume intercrops]]\nhybrid modelling chain for intercropping\nsimulations using STICS\n2022"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f58a2-7399-4785-862e-8b597f45ed7c"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f59e5-49b2-47c2-acef-81a61e4701a1"} 
{:block/created-at 1700757843488
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 11
:scale [1 1]
:pageId "655f59e5-49b2-47c2-acef-81a61e4701a1"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 185]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "fe2f2210-8a07-11ee-872b-d9a3e7460fd3"
:noFill false
:point [136 584]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700747743232}}
:block/updated-at 1700757843488} 
{:block/content "[[@Modeling sorghum-cowpea intercropping for a site in the savannah zone of Mali: Strengths and weaknesses of the Stics model]]\nsimulations using STICS\nevaluate ideomix cowpea/sorghum\nmanagement optimization\n2022"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f59e5-49b2-47c2-acef-81a61e4701a1"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f5c9c-5db2-4556-b115-fc104c478e9f"} 
{:block/created-at 1700757802665
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 12
:scale [1 1]
:pageId "655f5c9c-5db2-4556-b115-fc104c478e9f"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 184.8000030517578]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "9cec1380-8a09-11ee-872b-d9a3e7460fd3"
:noFill false
:point [1080 488]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700748438970}}
:block/updated-at 1700757802665} 
{:block/content "[[@Sustainable intensification of sorghum-based cropping systems in semi-arid sub-Saharan Africa: The role of improved varieties, mineral fertilizer, and legume integration]]\nsimulations using STICS\nevaluate ideomix cowpea/sorghum\nmanagement optimization\n2023"
:block/format :markdown
:block/left 
{:block/uuid #uuid "655f5c9c-5db2-4556-b115-fc104c478e9f"}
:block/parent 
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"}
:block/properties 
{}
:block/uuid #uuid "655f7eb0-0d34-4d11-9726-4be4f495a493"} 
{:block/created-at 1700757805932
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "B"
:stroke ""
:collapsed false
:borderRadius 8
:index 13
:scale [1 1]
:pageId "655f7eb0-0d34-4d11-9726-4be4f495a493"
:scaleLevel "md"
:fill ""
:compact true
:isAutoResizing true
:type "logseq-portal"
:size [400 208.8000030517578]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ec785da0-8a1d-11ee-872b-d9a3e7460fd3"
:noFill false
:point [1080 264]
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:collapsedHeight 0
:nonce 1700757162408}}
:block/updated-at 1700757805932} 
{:block/created-at 1700757740649
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 14
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [142 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "3b62bd10-8a1f-11ee-872b-d9a3e7460fd3"
:padding 4
:fontWeight 400
:noFill true
:point [-248 240]
:lineHeight 1.2
:fontSize 20
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:nonce 1700757724057
:italic false
:text "FORMALISMS"}}
:block/updated-at 1700757740649} 
{:block/created-at 1700757811377
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke ""
:borderRadius 0
:index 15
:scale [1 1]
:scaleLevel "md"
:fill ""
:type "text"
:size [317 34]
:fontFamily "var(--ls-font-family)"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "4ac33370-8a1f-11ee-872b-d9a3e7460fd3"
:padding 4
:fontWeight 400
:noFill true
:point [920 208]
:lineHeight 1.2
:fontSize 20
:parentId "655f20cc-3a7c-4adb-b279-adbda5819200"
:nonce 1700757749924
:italic false
:text "SIMULATIONS WITH IDEOMIXES"}}
:block/updated-at 1700757811377})
:pages (
{:block/uuid #uuid "655f20cc-3a7c-4adb-b279-adbda5819200"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "655f20cc-3a7c-4adb-b279-adbda5819200"
:name "mindmap articles"
:bindings 
{}
:nonce 1
:assets []
:shapes-index ("96975e90-89e6-11ee-872b-d9a3e7460fd3" "9a59a140-89e7-11ee-872b-d9a3e7460fd3" "1cb86cc0-89f7-11ee-872b-d9a3e7460fd3" "f5ec8530-89f7-11ee-872b-d9a3e7460fd3" "9746e860-89fa-11ee-872b-d9a3e7460fd3" "01443d30-89fb-11ee-872b-d9a3e7460fd3" "b031db60-89fe-11ee-872b-d9a3e7460fd3" "3957ff20-8a02-11ee-872b-d9a3e7460fd3" "2c0fe4a0-8a06-11ee-872b-d9a3e7460fd3" "bdb35ef0-8a06-11ee-872b-d9a3e7460fd3" "3844a110-8a07-11ee-872b-d9a3e7460fd3" "fe2f2210-8a07-11ee-872b-d9a3e7460fd3" "9cec1380-8a09-11ee-872b-d9a3e7460fd3" "ec785da0-8a1d-11ee-872b-d9a3e7460fd3" "3b62bd10-8a1f-11ee-872b-d9a3e7460fd3" "4ac33370-8a1f-11ee-872b-d9a3e7460fd3")}}
:block/journal? false
:block/updated-at 1700757947181
:block/created-at 1700733132770
:block/type "whiteboard"
:block/name "mindmap articles"
:block/original-name "mindmap articles"})}