{:highlights [{:id #uuid "655cd417-124e-47b9-9f17-b4c410ec0d6f",
               :page 1,
               :position {:bounding {:x1 120.1875,
                                     :y1 1174.28125,
                                     :x2 445.525390625,
                                     :y2 1196.28125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 120.1875,
                                   :y1 1174.28125,
                                   :x2 445.525390625,
                                   :y2 1196.28125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "The “Virtal grassland” model provides:"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd41c-662a-45b3-8a45-53dc013f776f",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 718,
                                     :x2 872.4031372070312,
                                     :y2 1242.3125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1197.296875,
                                   :x2 872.4031372070312,
                                   :y2 1219.296875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1220.3125,
                                   :x2 872.0941162109375,
                                   :y2 1242.3125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "- i) Two generic plant models accounting respectively, for grass (L-grass; Verdenal et al., 2008) and legume (L-egume) morphogenesis. These models simulate 3D plant architecture above-"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd421-2831-412e-ab9e-ed371bff9255",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 872.40869140625,
                                     :y2 165.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 120.515625,
                                   :x2 872.40869140625,
                                   :y2 142.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 143.53125,
                                   :x2 332.39434814453125,
                                   :y2 165.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "and below-ground and provide a central data structure describing plant structure from organ to community scales (MTG);"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd459-f70a-411d-92a3-dc5569ff1e83",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 872.6455078125,
                                     :y2 303.484375,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 166.546875,
                                   :x2 871.9725952148438,
                                   :y2 188.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 189.5625,
                                   :x2 872.2446899414062,
                                   :y2 211.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 212.578125,
                                   :x2 872.6455078125,
                                   :y2 234.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 235.59375,
                                   :x2 871.7760620117188,
                                   :y2 257.59375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 258.46875,
                                   :x2 872.3600463867188,
                                   :y2 280.46875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 281.484375,
                                   :x2 265.78472900390625,
                                   :y2 303.484375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "- ii) Coupling methods (in the form of OpenAlea nodes) between the MTG central data structure for plant architecture and environmental models to simulate competition for resources above- (light) and belowground (water and soil N). The light transfer (Sinoquet et al., 2001), gas exchange (Prieto et al., 2012) and soil models (adaptation of STICS soil module; Brisson et al., 2008) are available through the Openalea platform and were reused from previously published models."},
               :properties {:color "yellow"}}
              {:id #uuid "655cd46c-64cd-4904-8fe2-0bb87484149d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 158,
                                     :x2 869.7644653320312,
                                     :y2 349.515625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 304.5,
                                   :x2 869.7644653320312,
                                   :y2 326.5,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 327.515625,
                                   :x2 554.9205322265625,
                                   :y2 349.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "- iii) A graphical user interface in the form of a dataflow enabling to manage model input parameters and visualize simulation results (Figure 1)."},
               :properties {:color "yellow"}}
              {:id #uuid "655cd535-4a44-4e59-b805-45f9dbabbf90",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 872.490234375,
                                     :y2 395.546875,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 447.5797119140625,
                                   :y1 350.53125,
                                   :x2 872.490234375,
                                   :y2 372.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 373.546875,
                                   :x2 167.51690673828125,
                                   :y2 395.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text " L-system formalism (L-py software, Boudon et al.,2012)"},
               :properties {:color "green"}}
              {:id #uuid "655cd564-bc1e-4dff-9c84-c71f8fbc2df2",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 871.9632873535156,
                                     :y2 418.5625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 208.64859008789062,
                                   :y1 373.546875,
                                   :x2 871.9632873535156,
                                   :y2 395.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 396.5625,
                                   :x2 250.3704833984375,
                                   :y2 418.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "aim at capturing variation in morphogenesis and C/N metabolism specific to each functional group"},
               :properties {:color "green"}}
              {:id #uuid "655cd62c-33b8-41a2-90bd-1b1a2e4e3448",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 872.2787170410156,
                                     :y2 441.5625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 260.5122375488281,
                                   :y1 396.5625,
                                   :x2 872.2787170410156,
                                   :y2 418.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 419.5625,
                                   :x2 718.328125,
                                   :y2 441.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "In grasses for instance, differences in the self-regulation of leaf growth, tiller development and primary root initiation enable to account for growth habit"},
               :properties {:color "blue"}}
              {:id #uuid "655cd63b-0228-4738-8cf3-c5c381103fcf",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 872.3331298828125,
                                     :y2 510.609375,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 605.7408447265625,
                                   :y1 442.578125,
                                   :x2 872.0582275390625,
                                   :y2 464.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 465.59375,
                                   :x2 872.3331298828125,
                                   :y2 487.59375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 488.609375,
                                   :x2 807.5663452148438,
                                   :y2 510.609375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "in the legume functional group, different growth habit in terms of shoot growth (erect/prostrate), branching, and ability to develop adventitious roots/shoots enable to distinguish between colonization strategies"},
               :properties {:color "blue"}}
              {:id #uuid "655cd657-853c-4200-94c6-76d26ff98bb4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 872.0877075195312,
                                     :y2 602.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 251.260009765625,
                                   :y1 557.515625,
                                   :x2 872.0877075195312,
                                   :y2 579.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 580.53125,
                                   :x2 542.6260986328125,
                                   :y2 602.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "Dry matter accumulation, water and N requirements of each plant in a community are assumed driven by light interception."},
               :properties {:color "green"}}
              {:id #uuid "655cd82f-1d09-4c61-a070-eacf60209055",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 430,
                                     :x2 993.328125,
                                     :y2 2816.65625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 430,
                                   :x2 0,
                                   :y2 450,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 446,
                                   :x2 0,
                                   :y2 466,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 462,
                                   :x2 0,
                                   :y2 482,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 478,
                                   :x2 0,
                                   :y2 498,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 494,
                                   :x2 0,
                                   :y2 514,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 510,
                                   :x2 0,
                                   :y2 530,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 526,
                                   :x2 0,
                                   :y2 546,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 542,
                                   :x2 0,
                                   :y2 562,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 560,
                                   :x2 993.328125,
                                   :y2 560,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 270.913818359375,
                                   :y1 1041.671875,
                                   :x2 871.9495239257812,
                                   :y2 1063.671875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1064.671875,
                                   :x2 872.0836791992188,
                                   :y2 1086.671875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1087.6875,
                                   :x2 872.3855590820312,
                                   :y2 1109.6875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1110.703125,
                                   :x2 871.8949584960938,
                                   :y2 1132.703125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1133.71875,
                                   :x2 870.6776733398438,
                                   :y2 1155.71875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1156.734375,
                                   :x2 871.9810791015625,
                                   :y2 1178.734375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1179.609375,
                                   :x2 872.1493530273438,
                                   :y2 1201.609375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1202.625,
                                   :x2 872.1859741210938,
                                   :y2 1224.625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1225.640625,
                                   :x2 872.3920288085938,
                                   :y2 1247.640625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 1403.328125,
                                   :x2 993.328125,
                                   :y2 1403.328125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 1413.328125,
                                   :x2 993.328125,
                                   :y2 2816.65625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "Parameters for morphogenesis were identified on contrasting alfalfa and perennial ryegrass cultivars. Morphogenetic response to light competition, defoliation and water stress were shown to be qualitatively consistent. Increased light competition resulted in reduced tillering/branching (and overall plant leaf area development), reduced root elongation rate (and root volume) and decreased root length density. An interaction between shoot morphogenesis (defining light competition ability) and defoliation regime existed for the two functional groups, morphotypes with short leaves (grass) / procumbent shoots (legume) being relatively favoured by more intense defoliations. Soil water availability affected first local root development and then plant water status, shoot growth and C assimilation/partitioning (Figure"},
               :properties {:color "purple"}}
              {:id #uuid "655cd837-bd3c-44f5-ad2e-7fc0511163e3",
               :page 3,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 872.0428466796875,
                                     :y2 165.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 120.515625,
                                   :x2 872.0428466796875,
                                   :y2 142.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 143.53125,
                                   :x2 618.8040771484375,
                                   :y2 165.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 3},
               :content {:text "2). Sensitivity to water stress was shown to be strongly dependent to developmental stages, and in particular to the rooting depth at the beginning of the stress."},
               :properties {:color "purple"}}],
 :extra {:page 3}}
