{:highlights [{:id #uuid "655cd417-124e-47b9-9f17-b4c410ec0d6f",
               :page 1,
               :position {:bounding {:x1 120.1875,
                                     :y1 1174.28125,
                                     :x2 445.525390625,
                                     :y2 1196.28125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 120.1875,
                                   :y1 1174.28125,
                                   :x2 445.525390625,
                                   :y2 1196.28125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "The “Virtal grassland” model provides:"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd41c-662a-45b3-8a45-53dc013f776f",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 718,
                                     :x2 872.4031372070312,
                                     :y2 1242.3125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1197.296875,
                                   :x2 872.4031372070312,
                                   :y2 1219.296875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1220.3125,
                                   :x2 872.0941162109375,
                                   :y2 1242.3125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "- i) Two generic plant models accounting respectively, for grass (L-grass; Verdenal et al., 2008) and legume (L-egume) morphogenesis. These models simulate 3D plant architecture above-"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd421-2831-412e-ab9e-ed371bff9255",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 872.40869140625,
                                     :y2 165.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 120.515625,
                                   :x2 872.40869140625,
                                   :y2 142.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 143.53125,
                                   :x2 332.39434814453125,
                                   :y2 165.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "and below-ground and provide a central data structure describing plant structure from organ to community scales (MTG);"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd459-f70a-411d-92a3-dc5569ff1e83",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 62,
                                     :x2 872.6455078125,
                                     :y2 303.484375,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 62,
                                   :x2 0,
                                   :y2 82,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 78,
                                   :x2 0,
                                   :y2 98,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 94,
                                   :x2 0,
                                   :y2 114,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 110,
                                   :x2 0,
                                   :y2 130,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 126,
                                   :x2 0,
                                   :y2 146,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 166.546875,
                                   :x2 871.9725952148438,
                                   :y2 188.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 189.5625,
                                   :x2 872.2446899414062,
                                   :y2 211.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 212.578125,
                                   :x2 872.6455078125,
                                   :y2 234.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 235.59375,
                                   :x2 871.7760620117188,
                                   :y2 257.59375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 258.46875,
                                   :x2 872.3600463867188,
                                   :y2 280.46875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 281.484375,
                                   :x2 265.78472900390625,
                                   :y2 303.484375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "- ii) Coupling methods (in the form of OpenAlea nodes) between the MTG central data structure for plant architecture and environmental models to simulate competition for resources above- (light) and belowground (water and soil N). The light transfer (Sinoquet et al., 2001), gas exchange (Prieto et al., 2012) and soil models (adaptation of STICS soil module; Brisson et al., 2008) are available through the Openalea platform and were reused from previously published models."},
               :properties {:color "yellow"}}
              {:id #uuid "655cd46c-64cd-4904-8fe2-0bb87484149d",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 158,
                                     :x2 869.7644653320312,
                                     :y2 349.515625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 158,
                                   :x2 0,
                                   :y2 178,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 304.5,
                                   :x2 869.7644653320312,
                                   :y2 326.5,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 327.515625,
                                   :x2 554.9205322265625,
                                   :y2 349.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "- iii) A graphical user interface in the form of a dataflow enabling to manage model input parameters and visualize simulation results (Figure 1)."},
               :properties {:color "yellow"}}
              {:id #uuid "655cd535-4a44-4e59-b805-45f9dbabbf90",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 190,
                                     :x2 872.490234375,
                                     :y2 395.546875,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 190,
                                   :x2 0,
                                   :y2 210,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 447.5797119140625,
                                   :y1 350.53125,
                                   :x2 872.490234375,
                                   :y2 372.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 373.546875,
                                   :x2 167.51690673828125,
                                   :y2 395.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text " L-system formalism (L-py software, Boudon et al.,2012)"},
               :properties {:color "green"}}
              {:id #uuid "655cd564-bc1e-4dff-9c84-c71f8fbc2df2",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 871.9632873535156,
                                     :y2 418.5625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 208.64859008789062,
                                   :y1 373.546875,
                                   :x2 871.9632873535156,
                                   :y2 395.546875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 396.5625,
                                   :x2 250.3704833984375,
                                   :y2 418.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "aim at capturing variation in morphogenesis and C/N metabolism specific to each functional group"},
               :properties {:color "green"}}
              {:id #uuid "655cd62c-33b8-41a2-90bd-1b1a2e4e3448",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 222,
                                     :x2 872.2787170410156,
                                     :y2 441.5625,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 222,
                                   :x2 0,
                                   :y2 242,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 260.5122375488281,
                                   :y1 396.5625,
                                   :x2 872.2787170410156,
                                   :y2 418.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 419.5625,
                                   :x2 718.328125,
                                   :y2 441.5625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "In grasses for instance, differences in the self-regulation of leaf growth, tiller development and primary root initiation enable to account for growth habit"},
               :properties {:color "blue"}}
              {:id #uuid "655cd63b-0228-4738-8cf3-c5c381103fcf",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 254,
                                     :x2 872.3331298828125,
                                     :y2 510.609375,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 254,
                                   :x2 0,
                                   :y2 274,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 0,
                                   :y1 270,
                                   :x2 0,
                                   :y2 290,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 605.7408447265625,
                                   :y1 442.578125,
                                   :x2 872.0582275390625,
                                   :y2 464.578125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 465.59375,
                                   :x2 872.3331298828125,
                                   :y2 487.59375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 488.609375,
                                   :x2 807.5663452148438,
                                   :y2 510.609375,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "in the legume functional group, different growth habit in terms of shoot growth (erect/prostrate), branching, and ability to develop adventitious roots/shoots enable to distinguish between colonization strategies"},
               :properties {:color "blue"}}
              {:id #uuid "655cd657-853c-4200-94c6-76d26ff98bb4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 334,
                                     :x2 872.0877075195312,
                                     :y2 602.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 251.260009765625,
                                   :y1 557.515625,
                                   :x2 872.0877075195312,
                                   :y2 579.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 580.53125,
                                   :x2 542.6260986328125,
                                   :y2 602.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "Dry matter accumulation, water and N requirements of each plant in a community are assumed driven by light interception."},
               :properties {:color "green"}}],
 :extra {:page 2}}
