{:highlights [{:id #uuid "656f019b-afef-49e5-83f5-118367edcbb8",
               :page 2,
               :position {:bounding {:x1 687.90625,
                                     :y1 974.234375,
                                     :x2 1252.916748046875,
                                     :y2 999.234375,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 687.90625,
                                   :y1 974.234375,
                                   :x2 1252.916748046875,
                                   :y2 999.234375,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text "3-D shoot and root morphogenesis for contrasting plant morphotypes"},
               :properties {:color "blue"}}
              {:id #uuid "656f01a4-7783-4989-bee5-777f4babea38",
               :page 2,
               :position {:bounding {:x1 687.90625,
                                     :y1 999.140625,
                                     :x2 1258.0400390625,
                                     :y2 1049.046875,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 775.5697021484375,
                                   :y1 999.140625,
                                   :x2 1258.0400390625,
                                   :y2 1024.140625,
                                   :width 1387.2,
                                   :height 1791.936}
                                  {:x1 687.90625,
                                   :y1 1024.046875,
                                   :x2 944.3984375,
                                   :y2 1049.046875,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text "C, water and N exchanges with the environment for each individual in a plant community"},
               :properties {:color "blue"}}
              {:id #uuid "656f01aa-5189-48cf-bc00-0407f6efe393",
               :page 2,
               :position {:bounding {:x1 1090.577392578125,
                                     :y1 1024.046875,
                                     :x2 1257.9796142578125,
                                     :y2 1049.046875,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 1090.577392578125,
                                   :y1 1024.046875,
                                   :x2 1257.9796142578125,
                                   :y2 1049.046875,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text " L-system formalism"},
               :properties {:color "blue"}}
              {:id #uuid "656f01b3-6e58-48cd-be6e-6c04d96d6be2",
               :page 2,
               :position {:bounding {:x1 687.90625,
                                     :y1 1049.140625,
                                     :x2 1258.028076171875,
                                     :y2 1123.953125,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 1063.773681640625,
                                   :y1 1049.140625,
                                   :x2 1256.808837890625,
                                   :y2 1074.140625,
                                   :width 1387.2,
                                   :height 1791.936}
                                  {:x1 687.90625,
                                   :y1 1074.046875,
                                   :x2 1258.028076171875,
                                   :y2 1099.046875,
                                   :width 1387.2,
                                   :height 1791.936}
                                  {:x1 687.90625,
                                   :y1 1098.953125,
                                   :x2 905.0386352539062,
                                   :y2 1123.953125,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text "coupled within VGL to two environmental models dealing with radiation transfer and light interception above ground"},
               :properties {:color "blue"}}
              {:id #uuid "656f01b8-e8be-4fa8-a3dd-788ff7911c02",
               :page 2,
               :position {:bounding {:x1 687.90625,
                                     :y1 1098.953125,
                                     :x2 1258.9779052734375,
                                     :y2 1148.859375,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 1104.0960693359375,
                                   :y1 1098.953125,
                                   :x2 1258.9779052734375,
                                   :y2 1123.953125,
                                   :width 1387.2,
                                   :height 1791.936}
                                  {:x1 687.90625,
                                   :y1 1123.859375,
                                   :x2 962.557373046875,
                                   :y2 1148.859375,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text "and soil water and mineral N balances below ground"},
               :properties {:color "blue"}}
              {:id #uuid "656f01cc-3cdd-44a7-85ba-c59d6ab6bee0",
               :page 2,
               :position {:bounding {:x1 934.7061767578125,
                                     :y1 1148.765625,
                                     :x2 1074.0272216796875,
                                     :y2 1173.765625,
                                     :width 1387.2,
                                     :height 1791.936},
                          :rects ({:x1 934.7061767578125,
                                   :y1 1148.765625,
                                   :x2 1074.0272216796875,
                                   :y2 1173.765625,
                                   :width 1387.2,
                                   :height 1791.936}),
                          :page 2},
               :content {:text "daily time step"},
               :properties {:color "blue"}}
              {:id #uuid "656f1d64-ceea-4a16-85f6-4216debd31a4",
               :page 2,
               :position {:bounding {:x1 505.8125,
                                     :y1 935.859375,
                                     :x2 924.9517822265625,
                                     :y2 1009.796875,
                                     :width 1019.9999999999999,
                                     :height 1317.5999999999997},
                          :rects ({:x1 598.4803466796875,
                                   :y1 935.859375,
                                   :x2 924.6783447265625,
                                   :y2 954.859375,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}
                                  {:x1 505.8125,
                                   :y1 954.171875,
                                   :x2 924.9517822265625,
                                   :y2 973.171875,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}
                                  {:x1 505.8125,
                                   :y1 972.484375,
                                   :x2 924.93896484375,
                                   :y2 991.484375,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}
                                  {:x1 505.8125,
                                   :y1 990.796875,
                                   :x2 733.9122314453125,
                                   :y2 1009.796875,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}),
                          :page 2},
               :content {:text " Total plant dry matter production is determined from light interception by shoots using a radiation use efficiency approach, which in turn defines the water and N required to sustain maximum plant growth."},
               :properties {:color "blue"}}
              {:id #uuid "656f1db0-ea2d-45f8-a0ba-8019e3fc66a5",
               :page 2,
               :position {:bounding {:x1 505.8125,
                                     :y1 990.796875,
                                     :x2 924.975830078125,
                                     :y2 1046.421875,
                                     :width 1019.9999999999999,
                                     :height 1317.5999999999997},
                          :rects ({:x1 738.0521240234375,
                                   :y1 990.796875,
                                   :x2 924.9561767578125,
                                   :y2 1009.796875,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}
                                  {:x1 505.8125,
                                   :y1 1009.109375,
                                   :x2 924.975830078125,
                                   :y2 1028.109375,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}
                                  {:x1 505.8125,
                                   :y1 1027.421875,
                                   :x2 761.6008911132812,
                                   :y2 1046.421875,
                                   :width 1019.9999999999999,
                                   :height 1317.5999999999997}),
                          :page 2},
               :content {:text "Biomass allocation between shoots and roots is assumed to follow an allometric relationship in the absence of trophic limitations."},
               :properties {:color "blue"}}],
 :extra {:page 6}}
