{:highlights [{:id #uuid "655cd417-124e-47b9-9f17-b4c410ec0d6f",
               :page 1,
               :position {:bounding {:x1 120.1875,
                                     :y1 1174.28125,
                                     :x2 445.525390625,
                                     :y2 1196.28125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 120.1875,
                                   :y1 1174.28125,
                                   :x2 445.525390625,
                                   :y2 1196.28125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "The “Virtal grassland” model provides:"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd41c-662a-45b3-8a45-53dc013f776f",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 718,
                                     :x2 872.4031372070312,
                                     :y2 1242.3125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 718,
                                   :x2 0,
                                   :y2 738,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1197.296875,
                                   :x2 872.4031372070312,
                                   :y2 1219.296875,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 1220.3125,
                                   :x2 872.0941162109375,
                                   :y2 1242.3125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 1},
               :content {:text "- i) Two generic plant models accounting respectively, for grass (L-grass; Verdenal et al., 2008) and legume (L-egume) morphogenesis. These models simulate 3D plant architecture above-"},
               :properties {:color "yellow"}}
              {:id #uuid "655cd421-2831-412e-ab9e-ed371bff9255",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 30,
                                     :x2 872.40869140625,
                                     :y2 165.53125,
                                     :width 993.3333333333333,
                                     :height 1403.3333333333333},
                          :rects ({:x1 0,
                                   :y1 30,
                                   :x2 0,
                                   :y2 50,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 120.515625,
                                   :x2 872.40869140625,
                                   :y2 142.515625,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}
                                  {:x1 120.1875,
                                   :y1 143.53125,
                                   :x2 332.39434814453125,
                                   :y2 165.53125,
                                   :width 993.3333333333333,
                                   :height 1403.3333333333333}),
                          :page 2},
               :content {:text "and below-ground and provide a central data structure describing plant structure from organ to community scales (MTG);"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
