{:highlights [{:id #uuid "655db308-e089-4589-9bea-8319e6798628",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 1016.5502624511719,
                                     :y2 581.015625,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 431.8003845214844,
                                   :y1 536.546875,
                                   :x2 1016.5502624511719,
                                   :y2 557.546875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 560.015625,
                                   :x2 342.815185546875,
                                   :y2 581.015625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 1},
               :content {:text "Soil-crop models are critical in understanding these interactions in dynamics during the whole growing season"},
               :properties {:color "yellow"}}
              {:id #uuid "655db31c-18c6-4e0c-9410-e4e5c32c37af",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 1016.1705627441406,
                                     :y2 627.65625,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 385.2477111816406,
                                   :y1 583.34375,
                                   :x2 1016.1705627441406,
                                   :y2 604.34375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 606.65625,
                                   :x2 190.91067504882812,
                                   :y2 627.65625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 1},
               :content {:text " formalisms (i.e. the structure and mathematical representation necessary for designing a model)"},
               :properties {:color "green"}}
              {:id #uuid "655dbd6e-2151-4415-b207-90fbce5eddc6",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 302,
                                     :x2 540.0136108398438,
                                     :y2 662.203125,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 302,
                                   :x2 0,
                                   :y2 322,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 318,
                                   :x2 0,
                                   :y2 338,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 334,
                                   :x2 0,
                                   :y2 354,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 350,
                                   :x2 0,
                                   :y2 370,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 366,
                                   :x2 0,
                                   :y2 386,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 415.2826843261719,
                                   :y1 524.578125,
                                   :x2 539.3545532226562,
                                   :y2 545.578125,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 547.90625,
                                   :x2 540.0136108398438,
                                   :y2 568.90625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 571.234375,
                                   :x2 539.737548828125,
                                   :y2 592.234375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 594.5625,
                                   :x2 539.93017578125,
                                   :y2 615.5625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 617.875,
                                   :x2 539.740234375,
                                   :y2 638.875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 641.203125,
                                   :x2 483.7705078125,
                                   :y2 662.203125,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "the difficulty of designing generic and simple new formalisms that consider the dynamic interactions between plants for all processes while maintaining a few, easily measurable parameters(e.g. crop height is easy to measure, number of leaves and their angles are not) and a fast computation time"},
               :properties {:color "green"}}
              {:id #uuid "655dbe2f-3508-4380-9f41-afd9083e2971",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 686,
                                     :x2 539.3451538085938,
                                     :y2 1128.859375,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 686,
                                   :x2 0,
                                   :y2 706,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 202.68252563476562,
                                   :y1 1084.53125,
                                   :x2 539.3451538085938,
                                   :y2 1105.53125,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 1107.859375,
                                   :x2 344.184326171875,
                                   :y2 1128.859375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "STICS. This model generally performs correctly compared to observations"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbe35-607c-41de-b4a0-cc668ee1ffbd",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 702,
                                     :x2 539.71875,
                                     :y2 1152.1875,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 702,
                                   :x2 0,
                                   :y2 722,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 388.44708251953125,
                                   :y1 1107.859375,
                                   :x2 539.71875,
                                   :y2 1128.859375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 1131.1875,
                                   :x2 317.9869384765625,
                                   :y2 1152.1875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "grain yield nRMSE13–21% in Kherif et al. 2022"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbe4b-b312-4f9b-8c79-bed3f1a9cdf1",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 750,
                                     :x2 540.8543701171875,
                                     :y2 1222.15625,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 750,
                                   :x2 0,
                                   :y2 770,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 433.806396484375,
                                   :y1 1177.84375,
                                   :x2 540.8543701171875,
                                   :y2 1198.84375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 1201.15625,
                                   :x2 166.01071166992188,
                                   :y2 1222.15625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "several inconsistencies"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbe58-beee-405d-8c28-6465072de626",
               :page 2,
               :position {:bounding {:x1 347.8692932128906,
                                     :y1 1247.8125,
                                     :x2 513.5936279296875,
                                     :y2 1268.8125,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 347.8692932128906,
                                   :y1 1247.8125,
                                   :x2 513.5936279296875,
                                   :y2 1268.8125,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "overestimate N uptake"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbe64-7e2c-4482-9af1-4366f75f4028",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 830,
                                     :x2 539.2703857421875,
                                     :y2 1338.9375,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 830,
                                   :x2 0,
                                   :y2 850,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 125.59024047851562,
                                   :y1 1294.46875,
                                   :x2 539.2703857421875,
                                   :y2 1315.46875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 1317.9375,
                                   :x2 292.0943603515625,
                                   :y2 1338.9375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "difficulties in computing light competition related to poor simulation of plant height"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbe8e-943a-4892-92c7-32eb7ad7a031",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 151.234375,
                                     :x2 1015.9146728515625,
                                     :y2 930,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 688.6414184570312,
                                   :y1 151.234375,
                                   :x2 1015.9146728515625,
                                   :y2 172.234375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 174.5625,
                                   :x2 1015.5808715820312,
                                   :y2 195.5625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 197.875,
                                   :x2 983.5662231445312,
                                   :y2 218.875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 894,
                                   :x2 0,
                                   :y2 914,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 910,
                                   :x2 0,
                                   :y2 930,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "discrepancies between observations and simulations for STICS using a database from works published by Bedoussac (2009) and Bedoussac and Justes (2010)"},
               :properties {:color "yellow"}}
              {:id #uuid "655dbecf-263b-4fc8-b3f9-e8bc3d8eddec",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 267.859375,
                                     :x2 1016.34423828125,
                                     :y2 1042,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 977.582763671875,
                                   :y1 267.859375,
                                   :x2 1015.6080322265625,
                                   :y2 288.859375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 291.1875,
                                   :x2 1014.8797607421875,
                                   :y2 312.1875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 314.5,
                                   :x2 1016.34423828125,
                                   :y2 335.5,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 337.828125,
                                   :x2 1016.0018310546875,
                                   :y2 358.828125,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 571.46875,
                                   :y1 361.15625,
                                   :x2 723.3997802734375,
                                   :y2 382.15625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 974,
                                   :x2 0,
                                   :y2 994,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 990,
                                   :x2 0,
                                   :y2 1010,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 1006,
                                   :x2 0,
                                   :y2 1026,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 0,
                                   :y1 1022,
                                   :x2 0,
                                   :y2 1042,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 2},
               :content {:text "computation of Leaf Area Index (LAI), aerial and belowground biomass, N acquisition, and light interception using the radiative transfer option, a formalism published two decades ago(Brisson et al. 2004)"},
               :properties {:color "yellow"}}],
 :extra {:page 2}}
