{:highlights [{:id #uuid "655db308-e089-4589-9bea-8319e6798628",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 206,
                                     :x2 1016.5502624511719,
                                     :y2 581.015625,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 206,
                                   :x2 0,
                                   :y2 226,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 431.8003845214844,
                                   :y1 536.546875,
                                   :x2 1016.5502624511719,
                                   :y2 557.546875,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 560.015625,
                                   :x2 342.815185546875,
                                   :y2 581.015625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 1},
               :content {:text "Soil-crop models are critical in understanding these interactions in dynamics during the whole growing season"},
               :properties {:color "yellow"}}
              {:id #uuid "655db31c-18c6-4e0c-9410-e4e5c32c37af",
               :page 1,
               :position {:bounding {:x1 0,
                                     :y1 238,
                                     :x2 1016.1705627441406,
                                     :y2 627.65625,
                                     :width 1111.1818666666666,
                                     :height 1476.2831999999999},
                          :rects ({:x1 0,
                                   :y1 238,
                                   :x2 0,
                                   :y2 258,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 385.2477111816406,
                                   :y1 583.34375,
                                   :x2 1016.1705627441406,
                                   :y2 604.34375,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}
                                  {:x1 95.21875,
                                   :y1 606.65625,
                                   :x2 190.91067504882812,
                                   :y2 627.65625,
                                   :width 1111.1818666666666,
                                   :height 1476.2831999999999}),
                          :page 1},
               :content {:text " formalisms (i.e. the structure and mathematical representation necessary for designing a model)"},
               :properties {:color "green"}}],
 :extra {:page 1}}
